[data-type="pb/row"] .o-row > .block-editor-inner-blocks {
  width: 100%;
}

[data-type="pb/row"] .o-row > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: flex;
  flex-wrap: nowrap;
}

[data-type="pb/column"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-type="pb/column"] .block-editor-block-list__block-edit .wp-block {
  width: 100%;
}

.o-row--column-1-span-1 [data-type="pb/column"]:nth-child(1) {
  width: 8.33333%;
}

.o-row--column-1-span-2 [data-type="pb/column"]:nth-child(1) {
  width: 16.66667%;
}

.o-row--column-1-span-3 [data-type="pb/column"]:nth-child(1) {
  width: 25%;
}

.o-row--column-1-span-4 [data-type="pb/column"]:nth-child(1) {
  width: 33.33333%;
}

.o-row--column-1-span-5 [data-type="pb/column"]:nth-child(1) {
  width: 41.66667%;
}

.o-row--column-1-span-6 [data-type="pb/column"]:nth-child(1) {
  width: 50%;
}

.o-row--column-1-span-7 [data-type="pb/column"]:nth-child(1) {
  width: 58.33333%;
}

.o-row--column-1-span-8 [data-type="pb/column"]:nth-child(1) {
  width: 66.66667%;
}

.o-row--column-1-span-9 [data-type="pb/column"]:nth-child(1) {
  width: 75%;
}

.o-row--column-1-span-10 [data-type="pb/column"]:nth-child(1) {
  width: 83.33333%;
}

.o-row--column-1-span-11 [data-type="pb/column"]:nth-child(1) {
  width: 91.66667%;
}

.o-row--column-1-span-12 [data-type="pb/column"]:nth-child(1) {
  width: 100%;
}

.o-row--column-2-span-1 [data-type="pb/column"]:nth-child(2) {
  width: 8.33333%;
}

.o-row--column-2-span-2 [data-type="pb/column"]:nth-child(2) {
  width: 16.66667%;
}

.o-row--column-2-span-3 [data-type="pb/column"]:nth-child(2) {
  width: 25%;
}

.o-row--column-2-span-4 [data-type="pb/column"]:nth-child(2) {
  width: 33.33333%;
}

.o-row--column-2-span-5 [data-type="pb/column"]:nth-child(2) {
  width: 41.66667%;
}

.o-row--column-2-span-6 [data-type="pb/column"]:nth-child(2) {
  width: 50%;
}

.o-row--column-2-span-7 [data-type="pb/column"]:nth-child(2) {
  width: 58.33333%;
}

.o-row--column-2-span-8 [data-type="pb/column"]:nth-child(2) {
  width: 66.66667%;
}

.o-row--column-2-span-9 [data-type="pb/column"]:nth-child(2) {
  width: 75%;
}

.o-row--column-2-span-10 [data-type="pb/column"]:nth-child(2) {
  width: 83.33333%;
}

.o-row--column-2-span-11 [data-type="pb/column"]:nth-child(2) {
  width: 91.66667%;
}

.o-row--column-2-span-12 [data-type="pb/column"]:nth-child(2) {
  width: 100%;
}

.o-row--column-3-span-1 [data-type="pb/column"]:nth-child(3) {
  width: 8.33333%;
}

.o-row--column-3-span-2 [data-type="pb/column"]:nth-child(3) {
  width: 16.66667%;
}

.o-row--column-3-span-3 [data-type="pb/column"]:nth-child(3) {
  width: 25%;
}

.o-row--column-3-span-4 [data-type="pb/column"]:nth-child(3) {
  width: 33.33333%;
}

.o-row--column-3-span-5 [data-type="pb/column"]:nth-child(3) {
  width: 41.66667%;
}

.o-row--column-3-span-6 [data-type="pb/column"]:nth-child(3) {
  width: 50%;
}

.o-row--column-3-span-7 [data-type="pb/column"]:nth-child(3) {
  width: 58.33333%;
}

.o-row--column-3-span-8 [data-type="pb/column"]:nth-child(3) {
  width: 66.66667%;
}

.o-row--column-3-span-9 [data-type="pb/column"]:nth-child(3) {
  width: 75%;
}

.o-row--column-3-span-10 [data-type="pb/column"]:nth-child(3) {
  width: 83.33333%;
}

.o-row--column-3-span-11 [data-type="pb/column"]:nth-child(3) {
  width: 91.66667%;
}

.o-row--column-3-span-12 [data-type="pb/column"]:nth-child(3) {
  width: 100%;
}

.o-row--column-4-span-1 [data-type="pb/column"]:nth-child(4) {
  width: 8.33333%;
}

.o-row--column-4-span-2 [data-type="pb/column"]:nth-child(4) {
  width: 16.66667%;
}

.o-row--column-4-span-3 [data-type="pb/column"]:nth-child(4) {
  width: 25%;
}

.o-row--column-4-span-4 [data-type="pb/column"]:nth-child(4) {
  width: 33.33333%;
}

.o-row--column-4-span-5 [data-type="pb/column"]:nth-child(4) {
  width: 41.66667%;
}

.o-row--column-4-span-6 [data-type="pb/column"]:nth-child(4) {
  width: 50%;
}

.o-row--column-4-span-7 [data-type="pb/column"]:nth-child(4) {
  width: 58.33333%;
}

.o-row--column-4-span-8 [data-type="pb/column"]:nth-child(4) {
  width: 66.66667%;
}

.o-row--column-4-span-9 [data-type="pb/column"]:nth-child(4) {
  width: 75%;
}

.o-row--column-4-span-10 [data-type="pb/column"]:nth-child(4) {
  width: 83.33333%;
}

.o-row--column-4-span-11 [data-type="pb/column"]:nth-child(4) {
  width: 91.66667%;
}

.o-row--column-4-span-12 [data-type="pb/column"]:nth-child(4) {
  width: 100%;
}

.o-row--column-5-span-1 [data-type="pb/column"]:nth-child(5) {
  width: 8.33333%;
}

.o-row--column-5-span-2 [data-type="pb/column"]:nth-child(5) {
  width: 16.66667%;
}

.o-row--column-5-span-3 [data-type="pb/column"]:nth-child(5) {
  width: 25%;
}

.o-row--column-5-span-4 [data-type="pb/column"]:nth-child(5) {
  width: 33.33333%;
}

.o-row--column-5-span-5 [data-type="pb/column"]:nth-child(5) {
  width: 41.66667%;
}

.o-row--column-5-span-6 [data-type="pb/column"]:nth-child(5) {
  width: 50%;
}

.o-row--column-5-span-7 [data-type="pb/column"]:nth-child(5) {
  width: 58.33333%;
}

.o-row--column-5-span-8 [data-type="pb/column"]:nth-child(5) {
  width: 66.66667%;
}

.o-row--column-5-span-9 [data-type="pb/column"]:nth-child(5) {
  width: 75%;
}

.o-row--column-5-span-10 [data-type="pb/column"]:nth-child(5) {
  width: 83.33333%;
}

.o-row--column-5-span-11 [data-type="pb/column"]:nth-child(5) {
  width: 91.66667%;
}

.o-row--column-5-span-12 [data-type="pb/column"]:nth-child(5) {
  width: 100%;
}

.o-row--column-6-span-1 [data-type="pb/column"]:nth-child(6) {
  width: 8.33333%;
}

.o-row--column-6-span-2 [data-type="pb/column"]:nth-child(6) {
  width: 16.66667%;
}

.o-row--column-6-span-3 [data-type="pb/column"]:nth-child(6) {
  width: 25%;
}

.o-row--column-6-span-4 [data-type="pb/column"]:nth-child(6) {
  width: 33.33333%;
}

.o-row--column-6-span-5 [data-type="pb/column"]:nth-child(6) {
  width: 41.66667%;
}

.o-row--column-6-span-6 [data-type="pb/column"]:nth-child(6) {
  width: 50%;
}

.o-row--column-6-span-7 [data-type="pb/column"]:nth-child(6) {
  width: 58.33333%;
}

.o-row--column-6-span-8 [data-type="pb/column"]:nth-child(6) {
  width: 66.66667%;
}

.o-row--column-6-span-9 [data-type="pb/column"]:nth-child(6) {
  width: 75%;
}

.o-row--column-6-span-10 [data-type="pb/column"]:nth-child(6) {
  width: 83.33333%;
}

.o-row--column-6-span-11 [data-type="pb/column"]:nth-child(6) {
  width: 91.66667%;
}

.o-row--column-6-span-12 [data-type="pb/column"]:nth-child(6) {
  width: 100%;
}

[data-type="pb/block-grid"] .block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
}

[data-type="pb/block-grid"] .block-list-appender {
  width: 100%;
}

[data-type="pb/block-grid-item"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-type="pb/block-grid-item"] .block-editor-block-list__block-edit {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

[data-type="pb/block-grid-item"] .block-editor-block-list__block-edit .wp-block {
  width: 100%;
}

.o-block-grid-2 .block-editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 50%;
}

.o-block-grid-3 .block-editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 33.33333%;
}

.o-block-grid-4 .block-editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 25%;
}

.o-block-grid-5 .block-editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 20%;
}

.o-block-grid-6 .block-editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 16.66667%;
}

.o-block-grid > .editor-inner-blocks > .editor-block-list__layout [data-block] {
  margin-top: 0;
  margin-bottom: 0;
}

.u-align-items-center [data-type="pb/column"],
.u-align-items-center [data-type="pb/block-grid-item"] {
  align-self: center;
}

.u-align-items-end [data-type="pb/column"],
.u-align-items-end [data-type="pb/block-grid-item"] {
  align-self: flex-end;
}

.u-justify-content-center .block-editor-block-list__layout {
  justify-content: center;
}

.u-justify-content-end .block-editor-block-list__layout {
  justify-content: flex-end;
}

.u-justify-content-space-between .block-editor-block-list__layout {
  justify-content: space-between;
}

.u-justify-content-space-around .block-editor-block-list__layout {
  justify-content: space-around;
}

.c-number-control__input {
  width: 50px;
}

.c-number-control__percentage {
  display: inline-block;
  width: 70px;
  margin-left: 10px;
}

.c-number-control__icon {
  fill: #555d66;
  position: relative;
  top: 6px;
  margin-right: 6px;
}

.components-button.is-link.c-number-control__reset {
  margin-left: 20px;
}
