[data-type="pb/row"] .o-row > .editor-inner-blocks > .editor-block-list__layout {
  display: flex;
  flex-wrap: nowrap;
}

[data-type="pb/column"] .editor-block-list__block-edit .wp-block {
  width: 100%;
}

.o-row--columns-2 .editor-block-list__layout > [data-type="pb/column"] {
  width: 50%;
}

.o-row--columns-3 .editor-block-list__layout > [data-type="pb/column"] {
  width: 33.33333%;
}

.o-row--columns-4 .editor-block-list__layout > [data-type="pb/column"] {
  width: 25%;
}

.o-row--columns-5 .editor-block-list__layout > [data-type="pb/column"] {
  width: 20%;
}

.o-row--columns-6 .editor-block-list__layout > [data-type="pb/column"] {
  width: 16.66667%;
}

[data-type="pb/block-grid"] .editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
}

[data-type="pb/block-grid-item"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-type="pb/block-grid-item"] .editor-block-list__block-edit {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

[data-type="pb/block-grid-item"] .editor-block-list__block-edit .wp-block {
  width: 100%;
}

.o-block-grid-2 .editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 50%;
}

.o-block-grid-3 .editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 33.33333%;
}

.o-block-grid-4 .editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 25%;
}

.o-block-grid-5 .editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 20%;
}

.o-block-grid-6 .editor-block-list__layout > [data-type="pb/block-grid-item"] {
  width: 16.66667%;
}
