// # Editor Styles
// -----------------------------------------------------------------------------

.o-col,
.o-block-grid__item {
	border: 1px dashed #eee;
	margin-left: -14px;
	margin-right: -14px;
}
