// # Editor Styles
// -----------------------------------------------------------------------------



// ## Grid Rows and Columns
// -----------------------------------------------------------------------------

[data-type="pb/row"] {
	.o-row > .editor-inner-blocks > .editor-block-list__layout {
		display: flex;
		flex-wrap: nowrap;
	}
}

[data-type="pb/column"] {
	.editor-block-list__block-edit {
		.wp-block {
			width: 100%;
		}
	}
}

@for $i from 2 through 6 {
	.o-row--columns-#{$i} .editor-block-list__layout  > [data-type="pb/column"] {
		width: 100% / $i;
	}
}



// ## Block Grid
// -----------------------------------------------------------------------------

[data-type="pb/block-grid"] {
	.editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
	}
}

[data-type="pb/block-grid-item"] {
	margin-left: 0 !important;
	margin-right: 0 !important;

	.editor-block-list__block-edit {
		margin-top: 0 !important;
		margin-bottom: 16px !important;

		.wp-block {
			width: 100%;
		}
	}
}

@for $i from 2 through 6 {
	.o-block-grid-#{$i} .editor-block-list__layout  > [data-type="pb/block-grid-item"] {
		width: 100% / $i;
	}
}



// ### Alignments
// -----------------------------------------------------------------------------

.u-align-items-center [data-type="pb/column"],
.u-align-items-center [data-type="pb/block-grid-item"] {
	align-self: center;
}

.u-align-items-end [data-type="pb/column"],
.u-align-items-end [data-type="pb/block-grid-item"] {
	align-self: flex-end;
}

.u-justify-content-center .block-editor-block-list__layout {
	justify-content: center;
}

.u-justify-content-end .block-editor-block-list__layout {
	justify-content: flex-end;
}

.u-justify-content-space-between .block-editor-block-list__layout {
	justify-content: space-between;
}

.u-justify-content-space-around .block-editor-block-list__layout {
	justify-content: space-around;
}



// ## Number Control Styles
// -----------------------------------------------------------------------------

.c-number-control__input {
	width: 70px;
	margin-right: 20px;
}

.c-number-control__icon {
	fill: #555d66;
	position: relative;
	top: 6px;
	margin-right: 6px;
}
