.c-number-control {
	display: flex;
	align-items: center;
}

.c-number-control__input {
	width: 50px;
}

.c-number-control__percentage {
	display: inline-block;
	width: 70px;
	margin-left: 10px;
}

.c-number-control__icon {
	fill: #1e1e1e;
	margin-right: 6px;
}

.components-button.is-link.c-number-control__reset {
	margin-left: 20px;
}
