@import "_variables.scss";

// # Shared
// -----------------------------------------------------------------------------

.o-row,
.o-block-grid {
	display: flex;
	flex-wrap: wrap;
}

.o-col,
.o-block-grid__item {
	box-sizing: border-box;
	flex: 0 0 auto;
	width: 100%;
	margin-bottom: $gutter * 2;
	padding-left: $gutter;
	padding-right: $gutter;
}

// # Alignments
// -----------------------------------------------------------------------------

// Specificity required because we don't want child grids to inherit their
// parents settings if the user nests one grid inside another. E.g. if the user
// sets `justify-content: space-between` on a `Columns` block, then nests a
// block grid inside one of the columns, the block grid should _not_ have
// `justify-content: space-between` applied.

.u-justify-content-center {
	justify-content: center;
}

.u-justify-content-end {
	justify-content: flex-end;
}

.u-justify-content-space-between {
	justify-content: space-between;
}

.u-justify-content-space-around {
	justify-content: space-around;
}

.u-align-items-center {
	align-items: center;
}

.u-align-items-end {
	align-items: flex-end;
}
